<app-frame [title]="film.title">
  <section class="container">
    <div class="my-3 col-lg-6 d-flex justify-content-between">
      <span class="font-weight-bold">Chosen By</span>
      <span>{{ film.user.name }}</span>
    </div>

    <div class="my-3 col-lg-6 d-flex justify-content-between">
      <span class="font-weight-bold">Viewed Date</span>
      <span>{{ film.timestamp.toDate() | date: "dd/MM/yyyy" }}</span>
    </div>
    <div class="col-lg-6 d-flex justify-content-end my-3">
      <button class="btn btn-danger" (click)="deleteFilm()">Delete</button>
    </div>
  </section>
</app-frame>
