<app-modal header="Delete Film">
  <ng-container content>
    <p class="font-weight-bold">Delete this film?</p>
    <p class="my-3">{{ film.title }}</p>
  </ng-container>

  <button (click)="delete()" class="btn btn-primary" footer>
    Ok
  </button>
</app-modal>
