<app-frame title="Films">
  <div class="col-sm-12 d-flex justify-content-end">
    <button class="btn btn-primary float-right mb-2" (click)="addFilm()">
      Add Film
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">User</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let film of films | async">
        <td>
          <a [routerLink]="film.id">{{ film.title }}</a>
        </td>
        <td>{{ film.user.name }}</td>
        <td>{{ film.timestamp.toDate() | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</app-frame>
