<app-modal header="Add a New Film">
  <form #modalForm="ngForm" id="modalForm" (ngSubmit)="onSubmit()" content>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        #title="ngModel"
        type="text"
        class="form-control"
        id="title"
        required
        name="title"
        [(ngModel)]="film.title"
      />
    </div>

    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      <span>Title is required</span>
    </div>

    <div class="form-group">
      <label for="user">User</label>
      <select
        #user="ngModel"
        required
        name="user"
        [(ngModel)]="film.user"
        class="custom-select"
        id="user"
      >
        <option selected [ngValue]="null">Choose...</option>
        <option *ngFor="let user of users | async" [ngValue]="user">
          {{ user.name }}
        </option>
      </select>
    </div>
    <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
      <span>User is required</span>
    </div>

    <div class="form-group">
      <label for="dateViewed">Date Viewed</label>
      <div class="input-group">
        <input
          id="dateViewed"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dateViewed"
          ngbDatepicker
          #dateViewed="ngbDatepicker"
          [(ngModel)]="film.timestamp"
          required
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="dateViewed.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </form>
  <button
    type="submit"
    [disabled]="!modalForm.valid"
    form="modalForm"
    class="btn btn-primary"
    footer
  >
    Ok
  </button>
</app-modal>
