<header class="modal-header">
  <h3 class="modal-title">{{ header }}</h3>
  <button
    type="button"
    class="close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span>&times;</span>
  </button>
</header>

<section class="modal-body">
  <ng-content select="[content]"></ng-content>
</section>
<footer class="modal-footer">
  <ng-content select="[footer]"></ng-content>
</footer>
