<app-frame title="Home">
  <div class="col-sm-12">
    <p>
      Film club is a place where you can keep a record of all the films you've
      seen, along with reviews and other information. Browse past films, add a
      new one or tell people what you think.
    </p>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-primary btn-lg btn-block" [routerLink]="['', 'films']">
      View Films
    </a>
  </div>
</app-frame>
